:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color-link: #404bbf;
  --primary-color-text: #434455;
  --secondary-color-text: #2e2f42;
  --theme-dark-color-text: #ffffff;
  --color-WEB-background-btn: #4d5ae5;
  --color-background-btn-other: #f4f4fd;
  --accent-background-btn-other: #e7e9fc;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
img {
  display: block;
}
.button {
  cursor: pointer;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 72px;
  padding: 24px 156px 24px 156px;
  border-bottom-color: var(--accent-background-btn-other);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.address {
  display: flex;
  justify-content: end;
  gap: 40px;

  align-items: center;
}
.logo {
  margin-right: 76px;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.body {
  font-family: var(--primary-font);
  color: var(--primary-color-text);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--color-link);
}
.logotype {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-WEB-background-btn);
}

.menu-link {
  font-family: var(--primary-font);
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
  margin-top: 24px;
}

.contact-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color-text);
}

.title-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--theme-dark-color-text);
}
.hero {
  background: var(--secondary-color-text);
}
.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--theme-dark-color-text);
  background: var(--color-WEB-background-btn);
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--theme-dark-color-text);
  background: var(--color-link);
}
.title-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color-text);
}
.title-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background: var(--color-background-btn-other);
}
.team-item {
  background: var(--theme-dark-color-text);
}
.portfolio-btn {
  font-family: var(--primary-font);
  font-style: medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  color: var(--color-WEB-background-btn);
  background: var(--color-background-btn-other);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-background-btn-other);
}
.portfolio-btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  height: 72px;
  padding: 24px 156px 24px 156px;
}

.btn-all {
  color: var(--theme-dark-color-text);
  background: var(--color-link);
}
.btn-all :hover,
.btn-all :focus {
  background-color: var(--color-WEB-background-btn);
}
.footer {
  background: var(--secondary-color-text);
}
.theme-dark {
  color: var(--theme-dark-color-text);
}
.theme-light {
  color: var(--secondary-color-text);
}
